<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.zw.techsolutes.happyfirst">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HappyFirst">
        <activity android:name=".Mainpage.MainPage"></activity>
        <activity
            android:name=".login.Signin"
            android:theme="@style/AppStyle" />
        <activity
            android:name=".login.Signup"
            android:theme="@style/AppStyle" />
        <activity android:name=".login.LogOptions" />
        <activity android:name=".Onboarding.Onboarding2" />
        <activity android:name=".Onboarding.OnBoarding1" />
        <activity android:name=".Onboarding.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>